@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
}

.top-bar {
  height: 90px;
  margin-top: -70px;
}

#sign-out-button {
  border: none;
  background-color: #EF5757;
  margin-left: 70%;
  margin-top: -50px;
  text-align: right;
}

#sign-out-button:hover {
  background-color: #ff7573;
}

#has-account {
  margin-top: 75px;
  border: none;
}

#has-account:hover {
  text-decoration: underline;
}

#no-account {
  display: none;
  border: none;
}

#no-account:hover {
  text-decoration: underline;
}

.show-change-password {
  display: none;
}

#sign-in {
  display: none;
  margin-bottom: 40px;
}

#change-password {
  align-items: margin-left;
  text-align: left;
}

#sign-out {
  display: none;
}

#notes-div {
  display: none;
}

.h1container {
  margin: 0;
  padding: 0;
  margin-top: -21px;
  background-color: #EF5757;
  height: 90px;
}

h1 {
  margin: auto;
  top: 20px;
  position: relative;
}

h5 {
  margin-top: -5px;
  text-align: center;
}

p {
  // background-color: white;
  margin-top: -50px;
  width: 100%;
  // border: 1px solid black;
  margin-left: 20px;
}

#message {
  display: flex;
  position: relative;
  margin-top: 2px;
  width: 100%;
  border: none;
  margin-left: 10px;
}

h4 {
  // background-color: white;
  margin-top: -50px;
  width: 100%;
  // border: 1px solid black;
  border-bottom: none;
  margin-left: 20px;
  text-align: center;
}

.box {
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #DDAAB7;
  color: black;
  justify-content: center;
}

.footer {
  background-color: #DDAAB7;
  width: 100%;
  height: 80px;
}

#footer-line {
  padding-top: 50px;
  text-align: center;
}

.indiv-note {
  margin-top: -45px;
}
